.blog{
    background-color: white;
    margin:20px;
    .title{
        font-size: 25px;
        font-weight: bold;

    }
    .description{
        font-size: 18px;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }
    .search-input input[type=text]{
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        margin-bottom: 30px;
        border-bottom: 1px solid black!important;
        border:none;
    }
    .search-key input[type=text]{
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        margin-bottom: 30px;
        border: 1px solid black;
    }
    .leftTitle{
        font-weight: bold;
    }
    .leftTitle,.resultTitle{
        color:gray ;
        font-size:20px;
    }
    .labelCheck,.sort{
        font-weight: bold;
        font-size: 18px;
    }
    .btn-filter{
        width:100%;
        margin-bottom: 20px;
    }
    .btn-reset{
        width:100%;
        margin-bottom: 20px;
    }
    .lds-dual-ring.hidden {
        display: none;
    }
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 5% auto;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .ajax-class{
        padding: 25px;
    }
    .pagination{
        float:right;
        margin-top:20px
    }
    @media only screen and (max-width: 765px) {
        .labelCheck,.sort{
            font-size: 15px!important
        }
        .leftTitle{
            font-size: 16px!important;
        }
    }
}
