
    .float-right{
        float:right;
    }
    body{
        font-size: 18px;
    }
    .margin{
        margin:auto
    }
    .margin-bottom{
        margin-bottom: 30px;
    }
    .margin-top{
        margin-top: 30px;
    }
    .width-image{
        width:30%!important;
        height:118px!important;
    }
    .grid-view{
        color: red;
        margin-top: 50px;
    }
    .color-red{
        color:red
    }

.footer{
    text-align: center;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

